[colors.normal]
black   = '{{colors.surface.default.hex}}'
red     = '{{colors.error.default.hex}}'
green   = '{{colors.primary.default.hex}}'
yellow  = '{{colors.tertiary.default.hex}}'
blue    = '{{colors.secondary.default.hex}}'
magenta = '{{colors.primary_fixed.default.hex}}'
cyan    = '{{colors.secondary_fixed.default.hex}}'
white   = '{{colors.on_surface.default.hex}}'

[colors.bright]
black   = '{{colors.outline.default.hex}}'
red     = '{{colors.error_container.default.hex}}'
green   = '{{colors.primary_container.default.hex}}'
yellow  = '{{colors.tertiary_container.default.hex}}'
blue    = '{{colors.secondary_container.default.hex}}'
magenta = '{{colors.inverse_primary.default.hex}}'
cyan    = '{{colors.inverse_surface.default.hex}}'
white   = '{{colors.surface_bright.default.hex}}'
