(require 'base16-theme)

;; colours generated dynamically by DMS Matugen Template
(defun set-dms-colors () (setq base16-dms-colors
			       '(:base00 "{{dank16.color0.default.hex}}"
					 :base01 "{{dank16.color1.default.hex}}"
					 :base02 "{{dank16.color2.default.hex}}"
					 :base03 "{{dank16.color3.default.hex}}"
					 :base04 "{{dank16.color4.default.hex}}"
					 :base05 "{{dank16.color5.default.hex}}"
					 :base06 "{{dank16.color6.default.hex}}"
					 :base07 "{{dank16.color7.default.hex}}"
					 :base08 "{{dank16.color8.default.hex}}"
					 :base09 "{{dank16.color9.default.hex}}"
					 :base0A "{{dank16.color10.default.hex}}"
					 :base0B "{{dank16.color11.default.hex}}"
					 :base0C "{{dank16.color12.default.hex}}"
					 :base0D "{{dank16.color13.default.hex}}"
					 :base0E "{{dank16.color14.default.hex}}"
					 :base0F "{{dank16.color15.default.hex}}")))

(defvar base16-dms-colors nil "All colors for base16-dms are defined here.")
(set-dms-colors)

;; Define the theme
(deftheme base16-dms)

;; Add all the faces to the theme
(base16-theme-define 'base16-dms base16-dms-colors)

;; Mark the theme as provided
(provide-theme 'base16-dms)

(provide 'base16-dms)
