c.colors.tabs.even.bg = "{{dank16.color1.default.hex}}"
c.colors.tabs.odd.bg = "{{dank16.color1.default.hex}}"
c.colors.tabs.selected.even.bg = "{{dank16.color2.default.hex}}"
c.colors.tabs.selected.odd.bg = "{{dank16.color2.default.hex}}"
