bak/
dotfiles/.vim/undo
dotfiles/.vim/plugged/
dotfiles/.vim/spell/en.utf-8.spl
dotfiles/.vim/spell/en.utf-8.sug
dotfiles/.vim/init.vim
dotfiles/.vim/.netrwhist
dotfiles/.vim/swap/
dotfiles/.vim/backup/
/.DS_Store
