[submodule "scripts/todo"]
	path = scripts/todo
	url = https://github.com/ginatrapani/todo.txt-cli.git
[submodule "scripts/todo-plugins"]
	path = scripts/todo-plugins
	url = https://github.com/ginatrapani/todo.txt-cli.git
	branch = addons
[submodule "scripts/zgen"]
	path = scripts/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "scripts/toggl-cli"]
	path = scripts/toggl-cli
	url = https://github.com/drobertadams/toggl-cli
[submodule "scripts/scripts/toggl-cli"]
	path = scripts/scripts/toggl-cli
	url = https://github.com/drobertadams/toggl-cli
[submodule "scripts/vim-plug"]
	path = scripts/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "scripts/i3blocks-contrib"]
	path = scripts/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
