[user]
	name = Jonathan Reeve
	email = jon.reeve@gmail.com

[color] 
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	br = log --all --graph --decorate --oneline --simplify-by-decoration
[mergetool]
	keepBackup = false
[push]
	default = simple

# gh: is a shorthand for git@github.com
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

# github: is a shorthand for git://github.com/
[url "git://github.com/"]
	insteadOf = "github:"
