[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git

[submodule "awesome-powerarrow"]
	path = awesome-powerarrow
	url = https://github.com/esn89/powerarrow.git
