[user]
	name = Jonathan Reeve
	email = jon.reeve@gmail.com

[color] 
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	br = log --all --graph --decorate --oneline --simplify-by-decoration
[mergetool]
	keepBackup = false
