[submodule "scripts/toggl-cli"]
	path = scripts/toggl-cli
	url = https://github.com/drobertadams/toggl-cli
[submodule "scripts/scripts/toggl-cli"]
	path = scripts/scripts/toggl-cli
	url = https://github.com/drobertadams/toggl-cli
[submodule "scripts/i3blocks-contrib"]
	path = scripts/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "scripts/oh-my-fish"]
	path = scripts/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
